*   {margin: 0;
    padding: 0;
}
.ofertas{display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 150px;}

nav{display: flex;
        align-items: center;
        justify-content: space-around;}   
.aperitivos {
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 150px;}
    

.artcontainer {background-color: darkred;
    width: 200px;
    height: 300px;
    border-radius: 20px;}
    
.producto {width: 200px;
    height: 300px;}
    
.final {background-color: darkred; 
        margin-top: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;}
        
.imgFinal {width: 90px; height: 60px;}
ul  {display: flex;
            align-items: center;}
li  {list-style: none;
                margin-left: 20px;  }
                
a   {color: black;
                height: 80px;}

/* MOBILE FIRST */
header{
    display: grid;
    grid-template-columns: auto;
    /*grid-template-rows: auto auto auto auto auto;*/

}

nav{
    display: grid;
    grid-template-columns: auto ;
    /*grid-template-rows: auto auto auto auto auto;*/
    justify-content: center;
    align-items: center;
}

.logo-principal{
    justify-self: center;
}

.grid-header{
    justify-self: center;
}

footer{display: grid;
    grid-template-columns: auto; }

.producto {display: grid;
    grid-template-columns: auto;
justify-self: center;}

@media (min-width: 768px){
    .nav{
        grid-template-columns: auto auto auto;
        justify-content: space-around;
    }
    ul{
        display: flex;
        justify-content: space-around;
    }
footer{display: grid;
        grid-template-columns: auto auto auto; }

.producto {display: grid;
            grid-template-columns: auto;
        justify-self: center;}
    
}    

                  
