@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*   {margin: 0;
    padding: 0;
}
.contenido  {font-family: 'Righteous', cursive;}

.ptitulo{font-family: 'Righteous', cursive;
font-size: 35px;}

nav{display: flex;
        align-items: center;
        justify-content: space-around;}   
    
#artcontainer {background-color: darkred;
    border-radius: auto;
grid-gap: 150px;}

.logo-principal{align-items: center; align-items: center; justify-self: center;}
    
.producto {width: 150px;
    height: 200px;
align-items: center;
align-content: center;
justify-content: center;}

.producto1 {width: 100px;
    height: 150px;
align-items: center;
align-content: center;
justify-content: center;}

.final {background-color: darkred; 
        margin-top: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;}
        
ul  {display: flex;
            align-items: center;}
li  {list-style: none;
                margin-left: 20px;  }
                
a   {color: black;
                height: 80px;}

/* MOBILE FIRST */
header{
    display: grid;
    grid-template-columns: auto;
    /*grid-template-rows: auto auto auto auto auto;*/

}

nav{
    display: grid;
    grid-template-columns: auto ;
    /*grid-template-rows: auto auto auto auto auto;*/
    justify-content: center;
    align-items: center;
}

.grid-header{
    justify-self: center;
}

footer{display: grid;
    grid-template-columns: auto; }

@media (min-width: 768px){
    .nav{
        grid-template-columns: auto auto auto;
        justify-content: space-around;
    }
    ul{
        display: flex;
        justify-content: space-around;
    }
footer{display: grid;
        grid-template-columns: auto auto auto;
     }

.producto {display: grid;
            grid-template-columns: auto;
        justify-self: center;}
.mapa   {height: 500px; width: 500px; justify-content: center;
align-items: center;}
  
}    

                  
